/* Block: core/image */

.wp-block-image img {
	height: auto;
}

.wp-block-image figcaption {
	font-size: var(--wp--preset--font-size--small);
	color: var(--wp--preset--color--text);
	opacity: 0.6;
	margin-top: var(--wp--preset--spacing--xs);
	font-style: italic;
}
