/* Block: core/separator */

.wp-block-separator {
	border: none;
	border-top: 1px solid var(--wp--preset--color--border);
	margin: var(--wp--preset--spacing--lg) 0;
}

.wp-block-separator.is-style-wide {
	max-width: 100%;
}
